<li data-orbit-slide="slide-1" class="slide-image" style="background-image: url({imagePath}&w=1000); background-repeat: no-repeat; z-index: -100; background-size: cover;
    background-position: 50% 50%;">
  <div class="detailwrapper large-4 medium-5 small-10">
    <p>Featured Property</p>
    <h4>{houseNo} {streetName} <br>
      {espcDistrictName},  {town}, <br>
      {postcode}</h4>
    <p class="price">{bedRooms} Bedrooms {pType} <br>
      {priceType} {outputAskingPrice} </p>
    <a href="{detailPath}" title="View Property Details" class="proplink cta-contact">View details</a> </div>
</li>
