<li class="x-block-grid-item proplisting featured{featured}"> <a href="{detailPath}" title="View Property Details">
  <div class="imagewrap"> <img src="{imagePath}&w=350&h=220" alt="{houseNo} {streetName}, {town}" width="350" >
    <div class="flash">
      <h2 class="ss-home sellingstatus bdpstatus{statusId}">{sellingStatus}</h2>
    </div>
  </div>
  <div class="textbodylisting flattop">
    <h3>{houseNo} {streetName}, <br />
      {town}, {postcode}</h3>
    <!--<p>{bedRooms} Bedrooms {pType}<br /><strong>{priceType} {outputAskingPrice}</strong></p>--> 
    <span class="ss-navigateright">MORE DETAILS</span> </div>
  </a> 
</li>
