<div class="mapsearch column large-12 small-12" style="display:none; background:#F0F0F0; width:100%; margin-bottom:15px; position:relative">
  <div id="bdf-propertyMapSearch" class="bdd-detailMapsSize"> {resOutput} </div>
  <div class="mapsearchquick" style="margin-top:1em"><span class="results">Resize or drag the circle to start.</span> <span class="radius">Radius:1 mile</span> <a href="/properties/?keysearch=&stype=sale&nv=on" class="resultlink cta-contact" style="float:right;  font-size:1em">VIEW RESULTS</a></div>
  <p>Drag the centre point of the circle to reposition. Drag the outer handles to extend or reduce your search area.</p>
</div>
<script type="text/javascript">

var markerURL = '{markerURL}'; 
var gmapStyle = '{gmapStyle}';
</script>