<div class="marker bdd-hide" data-type="{pType}"  data-lat="{lat}" data-lng="{lng}" data-label="propertytitle" data-zoom="14">
  <div>
    <div class="info-window search-window">
      <div class="left" style="padding-right:10px; padding-top:10px;">
        <div class="imagewrap"> <a href="{detailPath}"><img src="{imagePath}&w=172&h=111" alt="{houseNo} {streetName}, {town}" ></a> </div>
      </div>
      <div class="right">
        <h3 class="address"> <a href="{detailPath}"> {houseNo} {streetName}, <br>
          {town}, {postcode}</a></h3>
        <p>{bedRooms} Bedrooms | {pType}<br>
          {outputAskingPrice} {letFrequency}</p>
        <a href="{detailPath}" class="view ss-navigateright"> MORE DETAILS</a> </div>
    </div>
  </div>
</div>
