<div class="marker bdd-hide" data-type="{pType}"  data-lat="{lat}" data-lng="{lng}" data-label="propertytitle" data-zoom="14">
  <div>
    <div class="info-window search-window">
      <div class="property-listings__inner">
        <div class="details">
          <div class="price">{priceType} {outputAskingPrice}</div>
          <h4>{houseNo} {streetName},<br/> {town}, {postcode} </h4>
          <div class="type"><span class="description"><span>{bedRooms} Bedroom </span>{pType} </span></div>
          <a class="button" href="{detailPath}" title="View Property Details">View details</a>
        </div>
      </div>
    </div>
  </div>
</div>
